services:
  - type: web
    name: moviematch-backend
    env: python
    pythonVersion: 3.11
    plan: free
    buildCommand: pip install --upgrade pip setuptools && pip install -r requirements.txt
    startCommand: gunicorn -w 1 -k uvicorn.workers.UvicornWorker --bind 0.0.0.0:${PORT:-8000} app.main:app
    routes:
      - path: /
        matchType: prefix
