services:
  - type: web
    name: moviematch-backend
    env: python
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn -w 1 -k uvicorn.workers.UvicornWorker -b 0.0.0.0:$PORT app.main:app
    routes:
      - path: /
        matchType: prefix
